@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Layouten */
body {
    background-color: #8d60c9;
}
.container {
    font-family: "Roboto", sans-serif;
    margin: auto;
    background-color: #E7DEf4;
    width: 800px;
    padding: 40px;

}
.bild {
background-color: #5a5a5a;
    
}

/* Rubrikerna */
h1 {
    font-family: "Faster One", system-ui;
    font-size: 75px;
    
}

h2{

}

/* sidans innehåll */
img {
    
}

.bildtext{
 background-color: #5a5a5a;
}

.thanks{

}

a {

}
