@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Fjalla+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}


/* sidlayouten */

body{
    background-color: #f3f0DD;
    background-image: url(./bilder/image-134.jpg); 
    background-position: 0px -200px;
    
    background-repeat: no-repeat; 
}

.kontainer{
    width: 900px;
    margin: auto;
    margin-top: 10px;
}


/* sidameny */

.meny{ 
    display: flex;
    margin-top: 10px;
    width: 850px;
    margin: auto;
}

.meny a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: auto;
    font-family: "Fjalla One", serif;
    
}

.meny img{
    margin: auto;
    width: 150px;

}


/* sidainnehåll */

.sida{
    background-color: #F9F8F1;
    margin: auto;
    margin-top: 20px;
    height: 1000px;
}

.sida h1{ 
    text-align: center;
    padding-top: 30px;
    font-family: "Roboto", serif;
    font-size: 40px;
}

.sida .info{ 
    text-align: center;
    padding-top: 20px;
    
}

.sida .router{
    display:flex;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding-top: 15px;
    margin: auto;


}

.sida .router .produkt{

    text-align: center;
    border-radius: 10px;
    margin: auto;
    
}

.sida .router .produkt img{
    height: 225px;
    width: 200px;
    margin: auto;
}

.sida .router .produkt .Fix{
    font-family: "Fjalla One", serif;
    margin: auto;
    
}

