body {
    background-image: url(".//bilder/quino-al-mBQIfKlvowM-unsplash\ \(2\).jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

h1 {
    font-family: "Staatliches", sans-serif;
    font-size: 85px;
    color: #14b1ffb0;
    text-transform: uppercase;
    text-shadow: 5px 5px 0 #fff;
    margin-top: 100px;
    margin-left: 100px;

}

h2 {
    font-family: "Staatliches", sans-serif;
    font-size: 60px;
    color: #14b1ffb0;
    text-transform: uppercase;
    text-shadow: 5px 5px 0 #fff;
    margin-top: 75px;
    margin-left: 100px;

}

p {
    font-family: "Staatliches", sans-serif;
    font-size: 30px;
    margin-top: 110px;

}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: #a46cff;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-left: 900px;
    border: 2px solid #fff;
}